.modalFooter {
  justify-content: space-between;
}

.updateBtn:disabled {
  cursor: not-allowed;
}

.updateBtn:not(:disabled) {
  animation: enable 0.3s linear;
}

.DropdownItem:hover {
  cursor: pointer;
}

#blueItem:hover {
  background-color: #d8f1ff;
}

#yellowItem:hover {
  background-color: #feef9c;
}

#purpleItem:hover {
  background-color: #DCDFFF;
}

#orangeItem:hover {
  background-color: #feccaf;
}

#greenItem:hover {
  background-color: #b1ffb1;
}

#pinkItem:hover {
  background-color: #feb0bc;
}

@keyframes enable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}





/**/




.text {
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 24px;
}

.layout {
  /* background: gray; */
  margin: 5px;
  position: relative;
  transition: height 100ms ease;
  /* padding: 10px; */
}

.react-grid-item:not(.react-grid-placeholder) {
  background: #eee;
  border: 1px solid lightslategrey;

  /* border: 30px solid #feef9c;
  background-color: #feef9c;
  padding: 0px;
  margin: 10px 10px;
  box-shadow: 3px 3px 2px #ccc;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  max-width: 800px;
  max-height: 800px;
  overflow: hidden;
  white-space: pre-wrap; */
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}

.react-grid-item {
  box-sizing: border-box;
  transition: all 100ms ease;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}