.modalFooter {
  justify-content: space-between;
}

.updateBtn:disabled {
  cursor: not-allowed;
}

.updateBtn:not(:disabled) {
  animation: enable 0.3s linear;
}

.DropdownItem:hover {
  cursor: pointer;
}

#blueItem:hover {
  background-color: #d8f1ff;
}

#yellowItem:hover {
  background-color: #feef9c;
}

#purpleItem:hover {
  background-color: #DCDFFF;
}

#orangeItem:hover {
  background-color: #feccaf;
}

#greenItem:hover {
  background-color: #b1ffb1;
}

#pinkItem:hover {
  background-color: #feb0bc;
}

@keyframes enable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}