#backBtn {
  left: .6em;
  top: .3em;
  z-index: 99;
  opacity: 0.6;
  position: fixed;
  font-size: 1.5em;
}

@media (max-width: 400px) {
  #backBtn {
    font-size: 1.2em;
  }
}

#backBtn:hover {
  color: black;
  cursor: pointer;
  opacity: 1;
}

#backBtn:active {
  color: #555;
}