.filteredLayout {
  margin: 5rem .5rem .5rem .5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.memo {
  margin: .3rem;
  max-width: 600px !important;
  max-height: 600px !important;
  border-radius: 3px !important;
  padding: 1rem;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 
              0px 2px 2px 0px rgba(0,0,0,0.14), 
              0px 3px 1px -2px rgba(0,0,0,0.12);
  box-sizing: border-box;
  display: block;
  text-align: left;
  overflow: hidden;
  white-space: pre-wrap;
  transition: all .3s ease-out;
}

.memo:hover {
  cursor: pointer;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2), 
              0px 3px 4px 0px rgba(0,0,0,0.14), 
              0px 3px 3px -2px rgba(0,0,0,0.12);
}

.memo:hover {
  cursor: pointer;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 
              0px 4px 5px 0px rgba(0,0,0,0.14), 
              0px 1px 10px 0px rgba(0,0,0,0.12);
}

@media only screen and (max-width: 500px) {
  .memo {
    padding: .5rem;
  }
}