.filteredLayout {
  margin: 5rem .5rem .5rem .5rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.filteredMemo {
  margin: 1rem;
  max-width: 600px !important;
  max-height: 600px !important;
  border-radius: 3px !important;
  padding: 1rem;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 
              0px 2px 2px 0px rgba(0,0,0,0.14), 
              0px 3px 1px -2px rgba(0,0,0,0.12);
  box-sizing: border-box;
  display: block;
  text-align: left;
  overflow: hidden;
  white-space: pre-wrap;
  transition: all .3s ease-out;
}

.filteredMemo:hover {
  cursor: pointer;
  box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2), 
              0px 3px 4px 0px rgba(0,0,0,0.14), 
              0px 3px 3px -2px rgba(0,0,0,0.12);
}

.filteredMemo:active {
  cursor: pointer;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 
              0px 4px 5px 0px rgba(0,0,0,0.14), 
              0px 1px 10px 0px rgba(0,0,0,0.12);
}

.findColor {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 1rem;
}

.findColor:hover {
  border: 2px solid #AAA;
  cursor: pointer;
}

.colorBlue {
  background-color: #d8f1ff;
  border: 2px solid #d8f1ff;
}

.colorGreen {
  background-color: #b1ffb1;
  border: 2px solid #b1ffb1;
}

.colorOrange {
  background-color: #feccaf;
  border: 2px solid #feccaf;
}

.colorPink {
  background-color: #feb0bc;
  border: 2px solid #feb0bc;
}

.colorPurple {
  background-color: #dcdfff;
  border: 2px solid #dcdfff;
}

.colorYellow {
  background-color: #feef9c;
  border: 2px solid #feef9c;
}

@media only screen and (max-width: 500px) {
  .filteredMemo {
    margin: .5rem;
    padding: .5rem;
  }
  .findColor {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.2rem;
  }
}