.inputField, .textArea {
  border: none;
  box-shadow: none;
}

.inputField:focus, .textArea:focus {
  /* border: 1px solid #fff; */
  box-shadow: none;
}

.newMemoBtn {
  margin-bottom: 20px;
  color: black;
}

.saveBtn:disabled {
  cursor: not-allowed;
}