.inputField, .textArea {
  border: none;
  box-shadow: none;
}

.inputField:focus, .textArea:focus {
  box-shadow: none;
}

.newMemoBtn {
  font-size: 1.7em;
  z-index: 99;
  color: black;
  font-weight: normal;
  opacity: 0.3;
  position: fixed;
  bottom: 10px;
  right: 23px;
  /* animation-name: newMemoEnable;
  animation-duration: 0.8;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: 1; */
  animation: newMemoEnable .8s linear 0.5s 1;
}

@media (max-width: 400px) {
  .newMemoBtn {
    font-size: 1.2em;
    right: 21px;
  }
}

.newMemoBtn:hover {
  color: black;
  cursor: pointer;
  opacity: 1;
}

.btn-warning:not(:disabled):not(.disabled):active,
.newMemoBtn:active {
  color: #555;
}

.saveBtn:disabled {
  cursor: not-allowed;
}

.modalFooter {
  justify-content: space-between;
}

.saveBtn:not(:disabled) {
  animation: saveBtnEnable 0.3s linear;
}

@keyframes newMemoEnable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
      opacity: 1;
  }
  100% {
      transform: scale(1);
  }
}

@keyframes saveBtnEnable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}