.inputField, .textArea {
  border: none;
  box-shadow: none;
}

.inputField:focus, .textArea:focus {
  box-shadow: none;
}

.newMemoBtn {
  color: #feef9c;
  font-weight: normal;
  background-color: black;
  border-color: black;
  opacity: 0.3;
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* animation-name: newMemoEnable;
  animation-duration: 0.7;
  animation-timing-function: linear;
  animation-delay: 0.5s;
  animation-iteration-count: 2; */
  animation: newMemoEnable 0.7s linear 0.5s 2;
}

.newMemoBtn:hover {
  color: rgb(253,225,68);
  background-color: black;
  border-color: black;
  opacity: 1;
}

.btn-warning:not(:disabled):not(.disabled):active,
.newMemoBtn:active {
  color: rgb(253,225,68);
  background-color: black;
  border-color: black;
}

.saveBtn:disabled {
  cursor: not-allowed;
}

.modalFooter {
  justify-content: space-between;
}

.saveBtn:not(:disabled) {
  animation: saveBtnEnable 0.3s linear;
}

@keyframes newMemoEnable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
      opacity: 1;
  }
  100% {
      transform: scale(1);
  }
}

@keyframes saveBtnEnable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}