#burger-icon {
  position: fixed;
  padding-top: 10px;
  cursor: pointer;
  top: 0;
  right: 2vh;
  transition: top 0.3s;
  z-index: 99;
}

#burger-icon:active {
  transform: scale(0.95);
}

/* Burger icon components */
#bar-1, #bar-2, #bar-3 {
  width: 30px;
  height: 3px;
  background-color: #afb6c5;
  margin: 6px;
  transition: 0.3s;
  
}

.burger-bar-hover {
  background-color: #637089 !important;
}

/* Transformation effect for burger menu */
.transform-bar-1 {
  transform: rotate(-45deg) translate(-8px, 7px);
}

.transform-bar-2 {
  opacity: 0;
}

.transform-bar-3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.sidenav {
  width: 250px;
}

.burgerIcon{
  right: 0;
  bottom: 0;
}