.Memo {
  padding: 30px;
  margin: 10px 10px;
  border: 1px solid #fde144;
  box-shadow: 3px 3px 2px #ccc;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  background-color: #fde144;
}

@media (max-width: 500px) {
  .Memo {
    margin: 20px 20px;
    display: block;
  }
}

.Memo:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px #ccc;
}