.Memo {
  padding: 10px;
  margin: 20px 20px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}

@media (max-width: 500px) {
  .Memo {
    margin: 20px 10px;
    display: block;
  }
}