.header {
  /* background-color: #fde144; */
  background-color: #feef9c;
  width: 100%;
  height: 45px;
  padding: 5px;
  margin-bottom: 10px; 
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}